alabaster==1.0.0 ; python_version >= "3.12" and python_version < "3.15"
babel==2.18.0 ; python_version >= "3.12" and python_version < "3.15"
certifi==2026.6.17 ; python_version >= "3.10" and python_version < "3.15"
charset-normalizer==3.4.7 ; python_version >= "3.10" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.15" and sys_platform == "win32"
docutils==0.22.4 ; python_version >= "3.12" and python_version < "3.15"
idna==3.17 ; python_version >= "3.10" and python_version < "3.15"
imagesize==2.0.0 ; python_version >= "3.12" and python_version < "3.15"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "3.15"
lxml==6.1.1 ; python_version >= "3.10" and python_version < "3.15"
markdown-it-py==4.2.0 ; python_version >= "3.12" and python_version < "3.15"
markupsafe==3.0.3 ; python_version >= "3.12" and python_version < "3.15"
mdit-py-plugins==0.6.1 ; python_version >= "3.12" and python_version < "3.15"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "3.15"
myst-parser==5.1.0 ; python_version >= "3.12" and python_version < "3.15"
oyaml==1.0 ; python_version >= "3.10" and python_version < "3.15"
packaging==26.2 ; python_version >= "3.12" and python_version < "3.15"
pillow==12.2.0 ; python_version >= "3.10" and python_version < "3.15"
pygments==2.20.0 ; python_version >= "3.12" and python_version < "3.15"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "3.15"
requests==2.34.2 ; python_version >= "3.10" and python_version < "3.15"
roman-numerals==4.1.0 ; python_version >= "3.12" and python_version < "3.15"
snowballstemmer==3.1.0 ; python_version >= "3.12" and python_version < "3.15"
sphinx-rtd-theme==3.1.0 ; python_version >= "3.12" and python_version < "3.15"
sphinx==9.1.0 ; python_version >= "3.12" and python_version < "3.15"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.12" and python_version < "3.15"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.12" and python_version < "3.15"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.12" and python_version < "3.15"
sphinxcontrib-jquery==4.1 ; python_version >= "3.12" and python_version < "3.15"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.12" and python_version < "3.15"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.12" and python_version < "3.15"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.12" and python_version < "3.15"
urllib3==2.7.0 ; python_version >= "3.10" and python_version < "3.15"
